<div class=" col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <div class="add-new-address">
        <a routerLink="../add-new-payment-method" class="bottles-brand">
            <h4 class="address-heading"><span class="fa fa-map-marker bottle-brand"></span> Add New Payment Method</h4>
        </a>
        <div class="address-table-tile" *ngFor="let payment of paymentMethodList">
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <td>
                            <span class="text-muted text-uppercase" *ngIf="payment?.IsDefault">
                                <small>Favorite</small>
                            </span>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-favorite">
                                <a class="text-muted" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <span class="fa fa-ellipsis-v more-icon"></span><span class="icon icon-ellipsis-vert more-icon"></span></a>

                                <ul class="dropdown-menu dropdown-favorite-open" aria-labelledby="dLabel">
                                    <li *ngIf="payment?.IsDefault === false"><a (click)="addToFavorite(payment)">Add to Favorite</a></li>
                                    <li><a routerLink="./edit-payment">Edit</a></li>
                                    <li><a>Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="address-container-section">
                            <h6>{{payment?.PaymentType}}</h6>
                        </td>
                        <td class="address-container-section">
                            <h6>{{payment?.Credential1}}</h6>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>