<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <table class="width_100">
        <thead class="payment_method">
            <tr>
                <th>
                    <h5>Add Payment Method</h5>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h5 class="card_number">********* 2759</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="card_number">********* 2759</h5>
                </td>
            </tr>
        </tbody>
    </table>
</div>