<div class="checkout-section">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="row">
              <form>
                <div class="delivery-options">
                  <div class="row">
                    <div class="col-md-12">
                      <h5 class="text-muted">Schedule Delivery</h5>
                    </div>
                    <div class="col-md-6">
                      <div class="input-container">
                        <select [(ngModel)]="selectedDeliveryDate" (change)="getDeliveryTimings()">
                          <option *ngFor="let ddate of deliveryDatesList">
                            {{ddate}}
                          </option>
                        </select>
                        <i class="fa fa-calendar input-icon"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-container">
                          <select [(ngModel)]="selectedDeliveryTime">
                              <option *ngFor="let dtime of deliveryTimingsList">
                                {{dtime}}
                              </option>
                            </select>
                        <i class="fa fa-clock-o input-icon"></i>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <br>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <h4>Address</h4>
              <div class="checkout-tile" *ngFor="let address of addressList" (click)="onSelectAddress(address)">
                <div class="checkout-icon-style">
                  <span [ngClass]="{'fa fa-check-circle' : selectedAddress===address.AddressId}"></span>
                </div>
                <div class="checkout-content">
                  <small class="text-uppercase" *ngIf="address?.IsDefault">Favorite</small>
                  <h4>{{address?.AddressName}}</h4>
                  <p class="text-muted">{{address?.Address1}} {{address?.Address2}} {{address?.City}}, {{address?.State}}, {{address?.Zip}}</p>
                  <p class="bottles-brand" *ngIf="false">Remarks: we do not deliver to this address.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="add-address-new">
                <a [routerLink]="['/myaccount/add-new-address']" class="btn btn-block checkout-dotted-btn">Add New Address</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>