@import "~src/variable.scss";

.active-star i.fa-star{
    color: $lukas-color;
}
.strike_text{
    text-decoration: line-through;
    font-family:$montserrat-bold;
    font-size: 18px !important;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c2c4ca;
    float: left;
    padding-right: 35px;
   
}

.limit-per-user {
    color: #ff0000;
    font-size: 10px;
}
.sale-tag {
    position: relative;
    img {
        position: absolute;
        right: 0px;
        top: -5px;
        border-top-right-radius: 10px;
    }
}