.active-star i.fa-star{
    color: #A61455;
}
.strike_text{
    text-decoration: line-through;
    font-family:montserratbold;
    font-size: 18px !important;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c2c4ca;
    float: left;
    padding-right: 35px;
   
}

.sale-tag {
    position: relative;
    img {
        position: absolute;
        right: 0px;
        top: -5px;
        border-top-right-radius: 5px;
    }
}