<div class="Main_bottlesection">
  <div class="item_img circle">
    <div class="img_div">

      <div class="margin_bottom">
        <div class="sale-tag" *ngIf="item?.OfferType === 'SALE'">
            <img [src]="item?.OfferIcon" class="img-responsive">
        </div>
        <img class="firimg" (click)="favoriteProductUpdate(true)" src="assets/Images/favorites.png" *ngIf="item?.IsFavorite===false; else favActive"/>
        <ng-template #favActive>
            <img class="firimg" (click)="favoriteProductUpdate(false)" src="assets/Images/favorites-active.png">
        </ng-template>       
        <a routerLink="/product-details/{{item.PID}}"><img class="second_img" src="{{item?.ProductImg}}" /></a>
        <img class="third_img" (click)="addToCart(item)" src="assets/Images/add-cart.png" *ngIf="item?.InCart===0; else cartActive"/>
        <ng-template #cartActive>
            <img class="third_img" (click)="removeFromCart(item)" src="assets/Images/add-cart-active.png"/>
        </ng-template>
        
      </div>
      <div class="second_content" routerLink="/product-details/{{item.PID}}">
        <div class="">
          <p class="strike_text" *ngIf="item?.PriceDisplay !== item?.OfferPriceDisplay">{{item?.PriceDisplay}}</p>
          <p class="price">{{item?.OfferPriceDisplay}}</p>  
          <h5 class="productname">{{item?.ProductName}}</h5>
          <p class="product_size">
            <span>{{item?.Size}}</span>
          </p>
          <p class="rating_star">
            <app-rating [rate]='item?.Rating'></app-rating>
            <span class="first">{{item?.ReviewCount}}</span>
            <span class="reviews"> reviews</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>