<div class="checkout-section">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="row">
              <form>
                <div class="delivery-options">
                      <div class="row">
                        <!-- Deliver ASAP -->
                          <!-- <div class="col-md-12">
                              <div class="pull-left">
                                <h5 class="text-muted">Deliver as soon as possible</h5>
                              </div>
                              <div class="pull-right">
                                  <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                  </label>
                              </div>
                          </div> -->
                          <div class="col-md-12">
                            <br>
                              <h5 class="text-muted">Schedule Delivery</h5>
                          </div>
                          <div class="col-md-6">
                              <div class="input-container">
                                  <input class="input-field" type="text" placeholder="Date" name="Date">
                                  <i class="fa fa-calendar input-icon"></i>
                                </div>
                            </div>
                          <div class="col-md-6">
                              <div class="input-container">
                                  <input class="input-field" type="text" placeholder="Time" name="Time">
                                  <i class="fa fa-clock-o input-icon"></i>
                              </div>
                          </div>
                          <div class="col-md-12">
                            <br>
                          </div>
                      </div>
                  </div>
              </form>
            </div>
          </div>
          
          <div class="col-md-12">
            <div class="row">
              <h4>Address</h4>
                <div class="checkout-tile">
                  <div class="checkout-icon-style">
                    <span class="fa fa-check-circle"></span>
                  </div>
                  <div class="checkout-content">
                      <small class="text-uppercase">Favorite</small>
                      <h4>My Address (Favourite)</h4>
                      <p class="text-muted">323 ABC City, State XXX</p>
                      <p class="bottles-brand">Remarks: we do not deliver to this address.</p>
                  </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
                <div class="checkout-tile">
                  <div class="checkout-icon-style" style="visibility: hidden;">
                    <span class="fa fa-check-circle"></span>
                  </div>
                  <div class="checkout-content">
                      <!-- <small class="text-uppercase">Favorite</small> -->
                      <h4>Friends Place</h4>
                      <p class="text-muted">323 ABC City, State XXX</p>
                      <!-- <p class="bottles-brand">Remarks: we do not deliver to this address.</p> -->
                  </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
                <div class="checkout-tile">
                  <div class="checkout-icon-style" style="visibility: hidden;">
                    <span class="fa fa-check-circle"></span>
                  </div>
                  <div class="checkout-content">
                      <!-- <small class="text-uppercase">Favorite</small> -->
                      <h4>Moms Place</h4>
                      <p class="text-muted">323 ABC City, State XXX</p>
                      <!-- <p class="bottles-brand">Remarks: we do not deliver to this address.</p> -->
                  </div>
              </div>
            </div>
          </div>    

          <div class="col-md-12">
            <div class="row">
              <div class="add-address-new">
                <a class="btn btn-block checkout-dotted-btn">Add New Address</a>
              </div>
            </div>
          </div>

<!-- New Address old format with div -->
<!--           <div class="col-md-12 add-new-checkout-address">
            <div class="row">
              <a href="#" class="link">
                  <div class="checkout-tile new-address-add">
                      <div class="location-icon-container">
                        <span class="fa fa-plus-circle icon-2"></span>
                        <span class="fa fa-map-marker icon-1"></span>
                      </div>
                      <div class="checkout-content">
                          <h4 class="text-center">My Address (Favourite)</h4>
                      </div>
                  </div>
              </a>
            </div>
          </div> -->

          <!-- Checkout earlier table format -->
<!--           <div class="checkout-table">
            <table>
              <thead>
                <th colspan="2">
                  <h4>My Address (Favourite)</h4>
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="text-muted">323 ABC City, State XXX</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5 class="bottles-brand">Remarks: we do not deliver to this address.</h5>
                  </td>
                </tr>
                <tr>
                  <td class="text-right">
                    <a href="#" class="link active text-uppercase">Edit</a> &nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-uppercase">Change Address</a>
                  </td>
                  <div class="check-icon-checkout-container">
                    <span class="icon icon-ok-circled checkout-icon-style"></span>
                  </div>
                </tr>
              </tbody>
            </table>
          </div> -->
        </div>
<!--         <div class="col-md-12">
          <div class="checkout-table">
            <a href="#" class="link">
              <table class="new-address-add">
                <tbody>
                  <tr>
                    <td>
                      <div class="location-icon-container">
                        <span class="fa fa-map-marker"></span>
                        <span class="icon icon-plus-circled icon-2"></span>
                        <span class="icon icon-location icon-1"></span>
                      </div>
                      <h4 class="text-center">My Address (Favourite)</h4>
                    </td>
                  </tr>
                </tbody>
              </table>
            </a>
          </div>
        </div> -->
      </div>
    </div>
<!--     <div class="col-md-12">
      <div class="col-md-6">
        <div>
          <form>

            <div class="delivery-options">
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-left">
                    <h5 class="text-muted">Deliver as soon as possible</h5>
                  </div>
                  <div class="pull-right">
                    <label class="switch">
                      <input type="checkbox">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <div class="col-md-12">
                  <h5 class="text-muted">Schedule Delivery</h5>
                </div>
                <div class="col-md-6">
                  <div class="input-container">
                    <input class="input-field" type="text" placeholder="Date" name="Date">
                    <i class="fa fa-calendar input-icon"></i> <i class="icon icon-calendar input-icon"></i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-container">
                    <input class="input-field" type="text" placeholder="Time" name="Time">
                    <i class="fa fa-clock-o input-icon"></i> <i class="icon icon-clock input-icon"></i>
                  </div>
                </div>
                <div class="col-md-12">
                  <hr>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> -->
  </div>
</div>