.profile-radius input{
	background-color: #ccc;
	width: 70px;
	height: 70px;
	border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    float: left;
    margin-right: 30px;
    color: #222;
    font-size: 24px;
    text-align: center;
}