<div class=" border_bottom">
  <div class="delivery-head-section">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
      <h5>
        <span>
          <img class="status" src="{{order?.OrderStatusImage}}">
        </span>

        <ng-container *ngIf="order?.OrderStatus=='Pending'">
          <span class="delevary_color" style="color:#ec1c24;">{{order?.OrderStatus}}</span>
        </ng-container>
        <ng-container *ngIf="order?.OrderStatus=='Cancelled'">
          <span class="delevary_color" style="color:#ec1c24;">{{order?.OrderStatus}}</span>
        </ng-container>
        <ng-container *ngIf="order?.OrderStatus=='Scheduled for delivery'">
          <span class="delevary_color" style="color:#ff8a00;">{{order?.OrderStatus}}</span>
        </ng-container>
        <ng-container *ngIf="order?.OrderStatus=='Completed'">
          <span class="delevary_color" style="color:#4dbb3c;">{{order?.OrderStatus}}</span>
        </ng-container>

      </h5>
    </div>

    <div class="float_right col-md-6 col-sm-6 col-lg-6 col-xs-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item code" style="padding-top: 15px; margin-right: 5px;width: 120px; text-align: right;"><a>
            <div class="repeat-circle"><span class="fa fa-repeat"></span></div> Reorder
          </a></li>
        <li class="breadcrumb-item code" style="padding-top: 15px;"><a>#{{order?.OrderNo}}</a></li>
      </ol>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" *ngFor="let item of order?.ListOrderItem">
    <table class="table table-condensed">
      <tbody>
        <tr>
          <td width="15%">
            <div class="product-image">
              <img class="second_img img-responsive" src='{{item?.ProductImage}}' />
            </div>
          </td>
          <td width="30%">
            <div class="Product_name">
              <h5> {{item?.ProductName}} </h5>
              <i class="fa fa-star" *ngFor="let star of [0,1,2,3,4]"></i>
              <!--[ngClass]="{'checked':star+0.5 <= process.Rating, 'fa-star-half-o':star+0.5 == process.Rating}"-->
              <br><span class="font_size">{{item?.UnitSize}}</span>
            </div>
          </td>
          <td width="15%">
            <div>
              <h5 class="Product_price">{{item?.PriceDisplay}}</h5>
              <h6 class="you_save" *ngIf="item?.ItemTotalSaving !== 0"> {{item?.ItemTotalSaving}}</h6>
            </div>
          </td>
          <td width="20%">
            <div>
              <h5 class="Product_price"> {{item?.Quantity}}</h5>
              <h6 class="you_save">Quantity </h6>
            </div>
          </td>
          <td width="20%">
            <div>
              <s *ngIf="item?.ItemTotalDisplay !== item?.FinalPriceDisplay">
                {{item?.ItemTotalDisplay}}
              </s><br>
              <span class="total_price">
                {{item?.FinalItemTotalDisplay}}
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tfoot-order-summary">
    <table>
      <tbody>
        <tr>
          <td class="width_30">
            <div class="margin_top_25 text-left">
              <h5>
                <span>
                  <img src="assets/Images/recipt-date.png">
                </span>
                <span class="date_time">{{order?.OrderedDate}}</span>
              </h5>
            </div>
          </td>
          <td>
            <table class="text_left">
              <tbody>
                <tr>
                  <td colspan="2">
                    <div class="order_total" id="order_total">
                      <h4>
                        Order Total
                        <span class="font_color">{{order?.TotalValueDisplay}}</span>

                        <button class="dec_circle toggle" *ngIf="!isVisible" (click)="isVisible = !isVisible">
                          <img class="plus" src="assets/Images/expand.png">
                        </button>
                        <button class="dec_circle toggle" *ngIf="isVisible" (click)="isVisible = !isVisible">
                          <img class="plus" src="assets/Images/collapse.png">
                        </button>
                      </h4>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr *ngIf="isVisible">
          <td colspan="2">
            <div class="bill_summary inner">
              <table class="text_left">
                <tbody>
                  <tr>
                    <td>
                      <h5 class="summary text-right">Summary</h5>
                    </td>
                    <td style="padding-right: 35px;">
                      <table class="order-summary-expand pull-right">
                        <tbody>
                          <tr>
                            <td class="text-left">Sub Total</td>
                            <td class="text-right">{{order?.SubTotalDisplay}}</td>
                          </tr>
                          <tr *ngFor="let charge of order?.ListCharge">
                            <td class="text-left">{{charge.ChargeTitle}}</td>
                            <td class="text-right">
                              {{charge.ChargeAmountDisplay}}
                            </td>
                          </tr>
                          <tr *ngFor="let discount of order?.ListDiscount">
                            <td class="text-left">{{discount.DiscountTitle}}</td>
                            <td class="text-right">
                              - {{discount.DiscountAmountDisplay}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>