<div class=" col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <table class="width_100">
        <thead class="payment_method">
            <tr>
                <th>
                    <h5>Add New Address</h5>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="address-container">
                <td>
                    <h4 class="address">AddressName</h4>
                    <h5 class="city_state">Address1 Address2 City,State,1234</h5>

                </td>
                <div class="address-button-container">
                    <span class="default-add-mark">Active</span>
                    <button class="btn btn-default make-default">Make Default</button>
                    <button class="btn btn-default delete" >Delete</button>

                </div>
            </tr>
        </tbody>
    </table>
</div>