<header id="menu" class="hidden-xs hidden-sm visible-lg visible-md">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="header_div row">
                <!-- Main Logo Starts Here -->
                <div class="navbar-header">
                    <a class="navbar-brand lukas-logo">
                        <img src="assets/Images/logo.png" class="img-responsive" [routerLink]="['/']" alt="Lukas">
                    </a>
                </div>
                <!-- Main Logo Ends Her -->

                <!-- User Login icon Starts Here -->
                <ul class="navbar nav navbar-nav float_right user-profile-block">
                    <li *ngIf="!isActive">
                        <!-- <span class="arrowup"></span> -->
                        <div class="header_icon username" [routerLink]="['/login']">
                            <i class="icon icon-profile usericondp"></i>
                            <!-- <img src="assets/Images/profile.png" alt="default" class="icon img-responsive userdp"> -->
                        </div>
                    </li>
                    <li *ngIf="isActive" class="dropdown text_small">
                        <div class="header_icon dropdown-toggle " [ngClass]="{'active': isActive}" data-toggle="dropdown">
                            <img *ngIf="profileFirstLetter === ''; else showProfileName" [src]="profilePic" class="img-responsive useralpha-icon">
                            <ng-template #showProfileName><span class="text-dp">{{profileFirstLetter | uppercase}}</span></ng-template>
                        </div>

                        <ul class="dropdown-menu user-menu" *ngIf="isActive">
                            <li [routerLink]="['/myaccount/myorders']">
                                <a>
                                    <img class="beer" src="assets/Images/Orders.png"> My Orders
                                </a>
                            </li>
                            <li [routerLink]="['/myaccount']">
                                <a>
                                    <img class="beer" src="assets/Images/account.png"> My Account
                                </a>
                            </li>

                            <li class="star_color" [routerLink]="['/myaccount/favorites']">
                                <a>
                                    <i aria-hidden="true" class="fa fa-star"></i>
                                    Favorites
                                </a>

                            </li>

                            <li class="">
                                <a (click)="onSignOut()">
                                    <img class="beer" src="assets/Images/logout.png"> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li [routerLink]="['/cart']">
                        <div class="cart-block">
                            <div class="header_icon">
                                <!-- <img src="assets/Images/cart.png" alt="Battlecapse" class="icon"> -->
                                <i class="icon icon-no-items"></i>
                                <span class="round-circle">{{cartItemCount}}</span>
                            </div>
                            <div class="cart-captions">
                                <!-- <a>Shopping Cart</a> -->
                                <!-- <span class="cart"> {{cartItemCount}} Item (s) - $578.14</span> -->
                            </div>
                        </div>
                    </li>
                    <li class="dropdown text_small store-dropmenu">
                        <div class="cart-block">
                            <div class="header_icon" (click)="openMultiLocationDialog()">
                                <i class="icon icon-distance"></i>
                            </div>
                        </div>
                        <ul class="dropdown-menu user-menu store-menu">
                            <li>
                                <h6 class="">{{storeDetails?.Address1}},</h6>
                                <small class="text-muted" *ngIf="storeDetails?.Address2"> {{storeDetails?.Address2}},</small>
                                <small class="text-muted"> {{storeDetails?.City}}, {{storeDetails?.State}}
                                    {{storeDetails?.Zip}}</small>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- User Login icon Ends Here -->

                <!-- Main Menu Starts Here -->
                <app-menu></app-menu>
                <!-- Main Menu Ends Her -->
            </div>
        </div>
    </nav>
</header>

<!-- M Header -->
<header id="menu" class="hidden-md hidden-ld visible-xs visible-sm m-header">
    <nav>
        <div class="navbar-header">
            <button class="pull-left m-menu"> <span class="fa fa-bars"> </span></button>
            <a class="navbar-brand lukas-logo">
                <img src="assets/Images/logo.png" class="img-responsive" [routerLink]="['/']" alt="Lukas">
            </a>
        </div>
        <!-- User Login icon Starts Here -->
        <ul class="navbar nav navbar-nav float_right user-profile-block">
            <li *ngIf="!isActive">
                <!-- <span class="arrowup"></span> -->
                <div class="header_icon username" [routerLink]="['/login']">
                    <i class="icon icon-profile usericondp"></i>
                    <!-- <img src="assets/Images/profile.png" alt="default" class="icon img-responsive userdp"> -->
                </div>
            </li>
            <li *ngIf="isActive" class="dropdown text_small">
                <div class="header_icon dropdown-toggle " [ngClass]="{'active': isActive}" data-toggle="dropdown">
                    <img *ngIf="profileFirstLetter === ''; else showProfileName" [src]="profilePic" class="img-responsive useralpha-icon">
                    <ng-template #showProfileName><span class="text-dp">{{profileFirstLetter | uppercase}}</span></ng-template>
                </div>

                <ul class="dropdown-menu user-menu user-m-menu" *ngIf="isActive">
                    <li [routerLink]="['/myaccount/myorders']">
                        <a>
                            <img class="beer" src="assets/Images/Orders.png"> My Orders
                        </a>
                    </li>
                    <li [routerLink]="['/myaccount']">
                        <a>
                            <img class="beer" src="assets/Images/account.png"> My Account
                        </a>
                    </li>

                    <li class="star_color" [routerLink]="['/myaccount/favorites']">
                        <a>
                            <i aria-hidden="true" class="fa fa-star"></i>
                            Favorites
                        </a>

                    </li>

                    <li class="">
                        <a (click)="onSignOut()">
                            <img class="beer" src="assets/Images/logout.png"> Log Out
                        </a>
                    </li>
                </ul>
            </li>
            <li [routerLink]="['/cart']">
                <div class="cart-block">
                    <div class="header_icon">
                        <!-- <img src="assets/Images/cart.png" alt="Battlecapse" class="icon"> -->
                        <i class="icon icon-no-items"></i>
                        <span class="round-circle">{{cartItemCount}}</span>
                    </div>
                    <div class="cart-captions">
                        <!-- <a>Shopping Cart</a> -->
                        <!-- <span class="cart"> {{cartItemCount}} Item (s) - $578.14</span> -->
                    </div>
                </div>
            </li>
<!--             <li class="dropdown text_small search-dropmenu">
                <div class="cart-block">
                    <div class="header_icon">
                        <i class="icon icon-search search-icon"></i>
                    </div>
                </div>
                <ul class="dropdown-menu user-menu search-menu">
                    <li>
                        <div class="input-group searchby">
                            <input type="text" class="form-control" name="search" [(ngModel)]="searchText" placeholder="Find Your Drink...">
                            <div class="search-btn">
                                <button type="button" class="btn btn-primaray" (click)="searchByText()">
                                    
                                    <i class="icon icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </li> -->
            <li class="dropdown text_small store-dropmenu">
                <div class="cart-block">
                    <div class="header_icon">
                        <i class="icon icon-distance" (click)="openMultiLocationDialog()"></i>
                    </div>
                </div>
                <ul class="dropdown-menu user-menu store-menu">
                    <li>
                        <h6 class="">{{storeDetails?.Address1}},</h6>
                        <small class="text-muted"> {{storeDetails?.City}}, {{storeDetails?.State}}
                            {{storeDetails?.Zip}}</small>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- User Login icon Ends Here -->
    </nav>
</header>
<!-- M Header End -->

<!-- Mutli Store Select -->
<app-multi-store [stores]="storeList" (storeChange)="onStoreChange($event)"></app-multi-store>
<button id="openMultiLocationModal" #openMultiLocationModal [hidden]="true" data-toggle="modal" data-target="#multiLocationDialog"></button>
<!-- Mutli Store Select End  -->