<header id="menu">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="header_div row">
                <!-- Main Logo Starts Here -->
                <div class="navbar-header">
                    <a class="navbar-brand lukas-logo">
                        <img src="assets/Images/logo.png" [routerLink]="['/']" alt="Lukas">
                    </a>
                </div>
                <!-- Main Logo Ends Her -->

                <!-- User Login icon Starts Here -->
                <ul class="navbar nav navbar-nav float_right user-profile-block">
                    <li *ngIf="!isActive">
                        <!-- <span class="arrowup"></span> -->
                        <div class="header_icon username" [routerLink]="['/login']">
                            <img src="assets/Images/profile.png" alt="default" class="icon img-responsive userdp">
                        </div>
                    </li>
                    <li *ngIf="isActive" class="dropdown text_small">
                        <div class="header_icon dropdown-toggle " [ngClass]="{'active': isActive}" data-toggle="dropdown">
                            <img *ngIf="profileFirstLetter === ''; else showProfileName" [src]="profilePic" class="img-responsive useralpha-icon">
                            <ng-template #showProfileName><span class="text-dp">{{profileFirstLetter}}</span></ng-template>
                        </div>

                        <ul class="dropdown-menu user-menu" *ngIf="isActive">
                            <li [routerLink]="['/myorders']">
                                <a>
                                    <img class="beer" src="assets/Images/Orders.png"> My Orders
                                </a>
                            </li>
                            <li [routerLink]="['/myaccount']">
                                <a>
                                    <img class="beer" src="assets/Images/account.png"> My Account
                                </a>
                            </li>

                            <li class="star_color" [routerLink]="['/myaccount/favorites']">
                                <a>
                                    <i aria-hidden="true" class="fa fa-star"></i>
                                    Favorites
                                </a>

                            </li>

                            <li class="">
                                <a (click)="onSignOut()">
                                    <img class="beer" src="assets/Images/logout.png"> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li [routerLink]="['/cart']">
                        <div class="cart-block">
                            <div class="header_icon">
                                <img src="assets/Images/cart.png" alt="Battlecapse" class="icon">
                                <span class="round-circle">{{cartItemCount}}</span>
                            </div>
                            <div class="cart-captions">
                                <!-- <a>Shopping Cart</a> -->
                                <!-- <span class="cart"> {{cartItemCount}} Item (s) - $578.14</span> -->
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- User Login icon Ends Here -->

                <!-- Main Menu Starts Here -->
                <app-menu></app-menu>
                <!-- Main Menu Ends Her -->
            </div>
        </div>
    </nav>
</header>