<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="coupon-tile" style="background-image: url(../../assets/Images/coupons-border.png);">
          <div class="thumbnail">
            <div class="img-container"><img src="../../assets/images/liqour-bg.png"></div>
            <div class="caption">
              <table>
                <tbody>
                    <tr>
                        <td><h5 class="text-muted">Code</h5></td> <td class="text-right">Expres <span class="highlight">9/30/19</span></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h4 class="text-uppercase">Free Delivery</h4>
                              <p>Take 10% off your next purchase of $50 or more using the coupon code FREE DELIVERY! Limit one per customer.</p>                                             
                        </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="coupon-tile" style="background-image: url(../../assets/Images/coupons-border.png);">
          <div class="thumbnail">
            <div class="img-container"><img src="../../assets/images/liqour-bg.png"></div>
            <div class="caption">
              <table>
                <tbody>
                    <tr>
                        <td><h5 class="text-muted">Code</h5></td> <td class="text-right">Expres <span class="highlight">9/30/19</span></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h4 class="text-uppercase">Free Delivery</h4>
                              <p>Take 10% off your next purchase of $50 or more using the coupon code FREE DELIVERY! Limit one per customer.</p>                                             
                        </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
</div>
