@import "~src/variable.scss";

.Product_name h5{
	font-family: poppins;
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -.5px;
    text-align: left;
    color: #262628;
}

.bg-transparent h5.Product_price {
	font-family: poppins;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .5px;
    text-align: left;
    color: $lukas-color;
}