@import "~src/variable.scss";

section.bgr_img{
    background-image: url("/assets/Images/download-bg.png");
    background-repeat: no-repeat;
    height: 330px;
    float: left;
    width: 100%;
    overflow: hidden;
    margin: 20px 0 0px;
    background-size: cover;
}
.bgr_img .display_center h4{
    font-family: $montserrat-bold;
    font-size: 18px;
    font-stretch: normal;
    line-height: 1.22;
    /* letter-spacing: 1.4px; */
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 0px 5px 0px;
} 

.display_center a {
    margin-right: 25px;
    float: left;
    margin-top: 0px;
}

.display_center h2.download_app{
    font-family: $montserrat-bold;
    font-size: 36px;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: 1.8px;
    color: #ffffff;
    padding: 5px 0px 0px 0px;
    text-align: left !important;
      }
  
      .display_center {
          transform: translateY(20%);
          text-align: center;
      }
.barcode-container {
    border-radius: 25px;
    -o-border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    padding: 25px;
    margin: 15px;
    background-color: #fff;
    width: 174px;
}