<section class="bgr_img">
  <div class="container">
    <div class="display_center font_family_Montserrat_Bold slideInUP wow delay-05s  animated col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-8">
          <h4>There Is an App for that</h4>
          <h2 class="download_app">Download our app from Appstore</h2>
          <a>
            <img src="assets/Images/ios.png">
          </a>
          <a>
            <img src="assets/Images/android.png">
          </a>
      </div>
      <div class="col-md-4">
          <div class="barcode-container">
              <img src="../assets/Images/barcode.png" class="img-responsive">
          </div>
      </div>
    </div>
  </div>
</section>