.order-details-panel {
  background-color: #f7f7f7;
  padding: 15px 25px;
  table {
    width: 100%;
    .prod-img {
      /*width: 60px;*/
      height: 70px;
      border-radius: 5px;
      border: solid 1px #ccc;
      padding: 5px 15px;
      margin-top: -3px;
      margin-right: 5px;
    }
    td.img-block {
      padding-top: 10px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      vertical-align: top;
    }
    &.first-table {
      border-bottom: solid 1px #ccc;
      h4 {
        margin-bottom: 0px;
      }
      h6 {
        font-size: 16px;
        margin-bottom: 5px;
        margin-top: 10px;
        color: #A61455;
      }
      p {
        font-size: 14px;
      }
      .totalprice-right {
        margin: 0px;
        padding: 0px;
        p {
          margin-top: 10px;
          margin-bottom: 30px;
          font-weight: bold;
          font-size: 13px;
        }
        h5 {
          font-size: 20px;
          color: #A61455;
        }
      }
    }
    td.summary-block {
      width: 90px;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      vertical-align: top;
      h5 {
        margin: 0px;
      }
    }
    &.summary-container {
      margin-top: 10px;
    }
  }
}

.coupon-panel {
  text-align: center;
  border-top: solid 1px #efefef;
  border-bottom: solid 1px #efefef;
  display: table;
  width: 100%;
  background-color: #f7f7f7;
  padding: 10px 25px;
  position: relative;
  input.coupon {
    width: 90%;
    background-color: transparent;
    outline: none;
    border: 0px solid transparent;
    float: right;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .icon-coupon {
    position: relative;
    top: 1px;
    font-size: 22px;
    color: #ccc;
  }
  .icon-coupon-close {
    position: absolute;
    top: 17px;
    font-size: 22px;
    color: #ccc;
    right: 25px;
  }
  table {
    width: 100%;
  }
}

.submit-button-panel {
  border-top: solid 1px #efefef;
  border-bottom: solid 1px #efefef;
  display: table;
  width: 70%;
  background-color: transparent;
  padding: 10px 25px;
  float: right;
}

.summary-container {
  a.exapand-icon {
    font-size: 22px;
    position: relative;
    top: 0px;
    color: #222;
  }
  table {
    td p {
      margin-bottom: 0px !important;
    }
    &.exapnded-table {
      margin-bottom: 10px;
      width: 100%;
    }
  }
  h4, h5 {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.bottles-brand {
  color: #A61455;
  &:hover {
    color: #A61455;
    text-decoration: none;
  }
}

.payment-option-select {
  a {
    &.pay-opt-1 {
      font-size: 20px;
      color: #A61455;
    }
    color: #222;
    &:hover, &.active {
      color: #A61455;
      text-decoration: none;
    }
  }
  border-bottom: solid 1px #ccc;
  margin-bottom: 25px;
  margin-top: 10px;
  .pay-or-store {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: #222;
    background-color: #ccc;
    padding: 15px;
    position: relative;
    left: 45%;
    top: 7px;
  }
}


.btn_right {
  margin-top: 20px;
  button.novalue{
    background: #d7d7d7 !important;
    color:#fff;
    padding: 10px 25px;
    box-shadow: 0px 10px 20px 0 rgba(135, 135, 135, 0.3);
    font-family: montserratbold;
    font-size: 11.2px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    opacity: 1;
  }
  
  button.close{
    background-color: #A61455 !important;
    box-shadow: 0px 10px 20px 0 rgba(236, 28, 36, 0.3);
    font-family: montserratbold;
    font-size: 11.2px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding:10px 30px;
    opacity: 1;
  }
}