<div class="row">
  <div class="order-details-panel">
    <table class="first-table">
      <tbody>
        <tr>
          <td class="img-block"><img class="prod-img" src="#"></td>
          <td>
            <h4>Product Name</h4>
            <h6>$18.00</h6>
            <p>Quantity: 3</p>
          </td>
          <td class="text-right">
            <p>Edit Order</p>
            <h5>$18.00</h5>
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <tr>
          <td class="img-block"><img class="prod-img" src="#"></td>
          <td>
            <h4>Product Name</h4>
            <h6>$18.00</h6>
            <p>Quantity: 3</p>
          </td>
          <td class="text-right">
            <p> </p>
            <h5>$18.00</h5>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="summary-container">
      <tbody>
        <tr>
          <td class="summary-block">
            <h5>Summary</h5>
          </td>
          <td>
            <p>Sub Total</p>
            <p>Delivery<p>
                <p>Tip</p>
                <p>Tax</p>
          </td>
          <td class="text-right">
            <p>$ 54.00</p>
            <p>$ 3.00</p>
            <p>$ 0.00</p>
            <p>$ 8.00</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="coupon-panel">
    <form>
      <i class="fa fa-ticket input-icon"></i> <i class="icon icon-ticket icon-coupon"></i>
      <input type="text" name="coupun" placeholder="Apply Coupon" class="form-control coupon">
    </form>
  </div>
  <div class="coupon-panel">
    <table>
      <tbody>
        <tr>
          <td class="text-left text-uppercase">
            <h3>Total</h3>
          </td>
          <td class="text-right">
            <h3>$ 19.00</h3>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="submit-button-panel">
    <button type="cancel" class="btn btn-default novalue">Cancel</button>
    <button type="checkout" class="btn btn-default close">Checkout</button>
  </div>
</div>