<div class="row">
  <div class="order-details-panel">
    <table class="first-table" *ngFor="let cartItem of cartDetails?.ListCartItem">
      <tbody>
        <tr>
          <td class="img-block"><img class="prod-img" src="{{cartItem?.ProductImage}}"></td>
          <td>
            <h4>{{cartItem?.ProductName}}</h4>
            <h6>{{cartItem?.ItemTotalDisplay}}</h6>
            <p>Quantity: {{cartItem.QuantityOrdered}}</p>
          </td>
          <td class="text-right">
            <p>Edit Order</p>
            <h5>{{cartItem?.FinalItemTotalDisplay}}</h5>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="summary-container">
      <tbody>
        <tr>
          <td class="summary-block">
            <h5>Summary</h5>
          </td>
          <td>
            <table>
              <tr>
                <td></td>
                <td>
                  <h5>Sub Total</h5>
                </td>
                <td class="text-right">
                  <h4>{{cartDetails?.SubTotalDisplay}}</h4>
                </td>
              </tr>
              <tr>
                <td width="15px"> <a class="exapand-icon"> <span class="fa fa-minus-circle"></span> <span
                      class="icon icon-minus-circled"></span> </a> </td>
                <td>
                  <h5>Savings</h5>
                </td>
                <td class="text-right">
                  <h4>{{cartItem?.TotalSavingsDisplay}}</h4>
                </td>
              </tr>
              <tr>
                <td></td>
                <td colspan="2">
                  <table class="exapnded-table">
                    <tr *ngFor="let discount of cartDetails?.ListDiscount">
                      <td><small class="text-muted">{{discount?.DiscountTitle}}</small></td>
                      <td class="text-right"><small class="text-muted">{{discount?.DiscountAmountDisplay}}</small></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <h5>Coupon Discout</h5>
                </td>
                <td class="text-right">
                  <h4>$ 0.00</h4>
                </td>
              </tr>
              <tr *ngFor="let charge of cartDetails?.ListCharge">
                <td></td>
                <td>
                  <h5>{{charge?.ChargeTitle}}</h5>
                </td>
                <td class="text-right">
                  <h4>{{charge?.ChargeAmountDisplay}}</h4>
                </td>
              </tr>            
              <tr>
                <td width="15px"><a class="exapand-icon"><span class="fa fa-plus-circle"></span> <span class="icon icon-plus-circled"></span></a></td>
                <td>
                  <h5>Tip for Driver</h5>
                </td>
                <td class="text-right">
                  <h4>{{cartDetails?.TipForDriver}}</h4>
                </td>
              </tr>
              <tr>
                <td></td>
                <td colspan="2">
                  <table class="exapnded-table">
                    <tr *ngFor="let tip of cartDetails?.ListTipForDriver">
                      <td><small class="text-muted"><input type="checkbox" (change)="onTipSelected($event, tip)" [(ngModel)]="tip.IsDeafault"> {{tip?.TipAmountDisplay}} ({{tip?.Percentage}}%)</small></td>
                      <td class="text-right"><small class="text-muted"> </small></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="coupon-panel">
    <form>
      <i class="fa fa-ticket input-icon"></i> <i class="icon icon-ticket icon-coupon"></i>
      <input type="text" name="coupun" placeholder="Apply Coupon" class="form-control coupon">
      <i class="fa fa-close input-icon"></i> <i class="icon icon-window-close icon-coupon-close"></i>
    </form>
  </div>
  <div class="coupon-panel">
    <table>
      <tbody>
        <tr *ngIf="isCouponError">
          <td class="text-left">
            <p class="bottles-brand">Remarks: Order value must be above or equal to $35.00 for this coupon</p>
          </td>
        </tr>
        <tr>
          <td class="text-left text-uppercase">
            <h3>Total</h3>
          </td>
          <td class="text-right">
            <h3>{{cartDetails?.TotalValueDisplay}}</h3>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="btn_right buttons-container">
    <button type="cancel" class="btn btn-default novalue">Cancel</button>
    <button type="checkout" class="btn btn-default close" (click)="onCheckout()">Checkout</button>
  </div>
</div>