<div class="container">
    <div class=" col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="row">
            <div class="col-md-12">
                <h4>Edit Profile</h4>
                <div class="row">
                    <div class="col-md-12 profile-edit-section">
                        <form [formGroup]=formEditProfile (ngSubmit)="onProfileUpdate()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <span class="img_class" *ngIf="profileImage">
                                            <img class="img-responsive" [src]="profileImage" />
                                        </span>
                                        <div class="inputWrapper profileupload">
                                            <input class="fileInput" formControlName="pImage" type="file" capture="camera"
                                                accept="image/*" (change)="uploadPicture($event)" />
                                            <span class="fa fa-plus"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-uppercase">First Name <span>*</span>
                                            <input type="text" formControlName="pFirstName" class="form-control"
                                                placeholder="First Name" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-uppercase">Last Name
                                            <input type="text" formControlName="pLastName" class="form-control"
                                                placeholder="Last Name" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-uppercase">Phone Number <span>*</span>
                                            <input type="text" formControlName="pContactNo" class="form-control"
                                                placeholder="Phone Number" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-uppercase">Email
                                            <input type="email" formControlName="pEmail" class="form-control"
                                                placeholder="Email" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-uppercase">Date of Birth
                                            <input type="date" formControlName="pDOB" class="form-control" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-uppercase">Gender
                                        </label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="radio" name="gender" formControlName="pGender" value="M" />
                                                Male
                                            </div>
                                            <div class="col-md-6">
                                                <input type="radio" name="gender" formControlName="pGender" value="F" />
                                                Female
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="btn_right">
                                            <button type="cancel" class="btn btn-default novalue">Cancel</button>
                                            <button type="submit" class="btn btn-default close">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>