.search-block {
  margin-right: 0px;
  float: right;
  .searchby {
    width: 240px;
    .search-btn {
      .btn {
        width: 35px;
        height: 34px;
        position: relative;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        line-height: 20px;
        top: -3px;
        text-align: center;
          .icon {
            color: #fff;
            width: 20px;
            margin-left: -5px;
          }
      }
      position: absolute;
      right: 0;
      z-index: 9;
    }
    input {
      width: 200px;
      margin-right: 40px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .search-block {
    width: 100%;
  }
  .search-block .searchby {
    width: 100%;
    input {
        width: 98%;
        margin-right: 0px;
        padding-right: 11%;
    }
    .search-btn .btn {
        right: -5px;
        top: 0px;
    }
  }
}