<div *ngIf="!isMobile; else mobileView">
    <app-header></app-header>
    <app-progress-bar></app-progress-bar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
    <!--<ng4-loading-spinner [threshold]="2000" [timeout]="4000" [template]="template" style="margin:0 auto; text-align: center;"
    [zIndex]="9999"> </ng4-loading-spinner> -->
</div>

<ng-template #mobileView>
    <div class="m-web">
        <img src="../assets/Images/Lukas.png" class="img-responsive">
        <div class="mobile-container">
            <a href="https://itunes.apple.com/us/app/lukas-wine-spirits/id1439459256?mt=8"> </a>
            <a href="https://play.google.com/store/apps/details?id=com.cta.lukas"> </a>
        </div>
    </div>
</ng-template>

<app-agelimit></app-agelimit>
<button id="openModal" #openModal [hidden]="true" data-toggle="modal" data-target="#dialog"></button>