<div>
  <div class="dropdownlist">
    <div class="row">
      <div class="col-md-4">
        <span class="text-uppercase text-white">TYPE</span>
        <ul class="nav flex-column">
          <li class="nav-item">
            <input type="checkbox" /><label> All </label>
          </li>
          <li class="nav-item" *ngFor="let type of allFilters?.type">
            <input (change)="onSelected(type)" type="checkbox" name="{{type.value}}" id="{{type.value}}"/>
            <label for="{{type.value}}"> {{type.value}} </label>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul class="nav flex-column">
          <span class="text-uppercase text-white">SIZE</span>
          <li class="nav-item">
            <input type="checkbox" /> <label> All </label>
          </li>
          <li class="nav-item" *ngFor="let size of allFilters?.size">
              <input (change)="onSelected(size)" type="checkbox" name="{{size.value}}" id="{{size.value}}"/>
              <label for="{{size.value}}"> {{size.value}} </label>
            </li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul class="nav flex-column">
          <span class="text-uppercase text-white">PRICE</span>
          <li class="nav-item">
            <input type="checkbox" /> <label> All </label>
          </li>
          <li class="nav-item" *ngFor="let range of allFilters?.price">
              <input (change)="onSelected(range)" type="checkbox" name="{{range.value}}" id="{{range.value}}"/>
              <label for="{{range.value}}"> {{range.value}} </label>
            </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="btn_right">
    <button class="btn btn-default clear">Clear All</button>
    <button class="btn btn-default filer_go" (click)="applyFilter()" >Filter & Go</button>
  </div>
</div>