/*breadcrumb */

/* 
.Search_div {
    margin: 15px 0px 40px 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
    overflow: hidden;
}
.Search_div input{
    width: 50%;
    height: 21px;
    padding-left: 12px;
    border: none;
    float: left;
    border-left: 5px solid #ec1c24;
    font-size: 15px;
    font-weight: bold;
    color: #333;
   
}
.Search_div input::placeholder{
    color: #333;
}
.Search_div input:focus{
    box-shadow: none;
    outline: none;
}

.breadcrumb{
    float: right;
    margin: 0;
    background-color: transparent;
    font-weight: 500;
    padding-right: 0;
}
.breadcrumb li a{
    color: #818181;
    text-transform: uppercase;
    font-size: 10px;
    text-decoration: none;
} */

.Searchrelated_div{
    margin: 15px 0px 40px 0;
    border-radius: 0px;
    padding-bottom: 10px; 
    overflow: hidden;   
}
.Searchrelated_div h4, {
    width: 50%;
    height: 21px;
    padding-left: 12px;
    border: none;
    float: left;
    border-left: 5px solid #ec1c24;
    font-size: 15px;
    font-weight: bold;
    color: #333;
    line-height: 21px;
   
}
/* .details_content ul li::before{
    content:url('/assets/Images/assets/viewmore.png');  
    background: url('/assets/Images/assets/viewmore.png') !important;
} */

.details_content ul h4.ingredients{
    border-left: 5px solid #ec1c24;
    padding-left: 10px;
    font-family: Montserrat !important;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: left;
    color: #c2c4ca;
}
.instruction_text{
    font-family: poppinsregular !important;
    font-size: 14px;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: 0.4px;
    text-align: justify;
    color: #444444;
}
.details_content ul li.IngredientText ul li{
    font-family:montserratbold !important;
    font-size: 14.4px;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.4px;
    text-align: justify;
    color: #262628 !important;
}

.details_img{
    border-right: 1px solid #d7d7d7;
    /*padding: 0px 0;*/
}
.details_img img{
    margin: 0 auto;
    display: block;
}
.details_content ul {
    padding-left: 0;
}
.details_content ul li{
    list-style-type: none;
    padding: 10px 5px 10px 5px;
}
.details_content ul li ul li::before{
    content: '\f061';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
    color: #ec1c24;
}
.details_content h4.recipe_name{
    font-family: poppinsbold;
    font-size: 26.4px;
    font-stretch: normal;
    line-height: 2.07;
    letter-spacing: -0.5px;
    text-align: left;
    color: #232323;
}
    @media screen and (max-width: 767px) {
    .details_content h4.recipe_name,.details_content ul li h4.recipe_name,.Searchrelated_div h4 
    {
        font-size: 12px !important;
    }
   

}

.bottle-caps-red {
    color: #ec1c24;
}

.event-details-section {
    display: inline-block;
    position: relative;
    padding-top: 30px;
    width: 100%;
}

.event-details-date {
    position: absolute;
    top: 0;
    left: 10px;
    font-family: poppinsregular;
}

.event-details-date strong {
    text-align: center;
    font-size: 28px;
    color: #232323;
    margin: 0px;
    padding: 0px;
    line-height: normal;
    display: inline-block;
    margin-top: -10px;
    font-family: poppinsregular;
}

.event-details-date .date-style {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    text-align: center;
    float: left;
    font-family: poppinsregular;
}

.event-details-heading {
    position: absolute;
    left: 60px;
    top: -5px;
    font-size: 18px;
}

.event-icon {
    font-size: 30px;
    width: 20px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.event-para {
    font-size: 14px;
    vertical-align: middle;
    margin-left: 20px;
    display: inline-block;
    margin-top: -10px;
    font-family: poppinsregular;
}