.new-payment-method-section {
    padding: 20px 0px;
    .new-payment-icon {
      font-size: 44px;
      padding-right: 6px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .cards-icons-container a {
      border: solid 2px #ccc;
      display: inline-flex;
      color: #ccc;
      border-radius: 10px;
      &:hover, &:focus, &.active {
        border: solid 2px #A61455;
        color: #222;
        border-radius: 10px;
      }
    }
    .form-control {
      border-radius: 0px;
      height: 45px;
      border: solid 1px #e6e6e6;
    }
    form label {
      span {
        color: #A61455;
      }
      width: 90%;
    }
    .button-container {
      width: 90%;
    }
  }