

.circle img {
    transition: 1s ease;
    }

.bottom{
    margin-bottom: 15px;
    float: left;
    width: 100%;
}  
.product_gallery {
    margin: 30px 0 30px 0;
    float: left;
    width: 100%;
}

.gallery {
    position: relative;
    cursor: pointer;
}

.text-block img{
    height: 45px;
    filter: brightness(25.25);
    margin-top: 20%;
    /* width: 15px; */
}
.text-block {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    position: absolute;
    width: 100%;
    font-size: 18px;
    line-height: 0;
    text-align: center;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 140px;
}

.text-block span {
    font-family: poppinsbold;
    font-size: 24px;
    font-stretch: normal;
    /* line-height: 3.67; */
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    position: relative;
    top: 20%;
}


select.selectBox{
    width: 50px;
    height: 28px;
    outline:none;
    border:1px solid #d7d7d7;
    border-radius:25px;
}
select.selectBox > option{
    height: 50px;
}

 ul.name_left li{
      margin-left:25px;
  }
@media screen and (max-width:768px){
    .button_feature {
        margin-bottom: 10px;
        text-align: right;
    }
    .button_feature .btn{
    padding: 6px 6px;
    }

    .text-block img{
        height: 25px;
    }
    
    .text-block span {
        font-family: montserratbold;
        font-size: 8px;
    }
}
@media screen and (min-width:320px) and (max-width:530px){
    .item_img{
        width: 100%;
    }
}

