.fa-star {
    color: #A61455 !important;
}
.fa-star-half-o {
    color: #A61455 !important;
}

span.rating-icon a .fa, .Product_name span.rating-icon a .fa, .myorder-table span.rating-icon a .fa {
    margin-right: 3px;
}