<div class="modal fade store-picker-container" id="multiLocationDialog" tabindex="-1" role="dialog" aria-labelledby="multiLocationDialogLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <!--  <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Search</h4>
      </div> -->
      <div class="modal-body">
<!--         <div class="visible-xs visible-md visible-sm hidden-lg">
            <h6 class="">Store name</h6>
              <small class="text-muted"> Store address and more info about store.</small>
        </div>
        <br> -->
        <form>
          <div class="form-inline-lg">
            <div class="input-group">
              <div class="input-group-addon"><i class="icon icon-search"></i></div>
              <input name="search" type="text" [(ngModel)]="searchText" (keyup)="filterBySearchText()" class="form-control" placeholder="Search by City, Zip Code or Name">
              <div class="input-group-addon"><i class="icon icon-location-picker"></i></div>
            </div>
          </div>
        </form>
          <div class="form-group">
            <div class="store-tile-container" *ngFor="let store of stores">
                <div class="store-thumbnail" *ngIf="false">
                  <img [src]="store?.StoreImage" height="75px" width="75px">
                </div>
                <h3>{{store?.StoreName}} - {{store?.Location}}</h3>
                <div class="store-info">
                    <div class="store-details">
                        
                        <small class="text-muted">{{store?.Address1}}, 
                          <span *ngIf="store?.Address2"> {{store.Address2}},</span>
                          <span *ngIf="store?.City"> {{store.City}},</span>
                          <span *ngIf="store?.State"> {{store.State}}</span>
                          <span *ngIf="store?.Zip"> {{store.Zip}}</span>
                        </small> <br>
                        <small class="text-muted">
                          <i class="icon icon-footer-contact"></i> 
                          <span> <a href="tel:{{store?.ContactNo}}">Call: {{store?.ContactNo}}</a></span>
                        </small>
                    </div>
                    <div class="store-distance-info">
                        <div class="store-distance" *ngIf="false">
                            <i class="icon icon-location-picker"></i> 0.1 mi
                        </div>
                        <div class="select-store hidden">
                            <button class="btn btn-default " [ngClass]="currentStore === store?.StoreId  ? 'selected' : 'active'" data-dismiss="modal" (click)="onStoreSelect(store.StoreId)">Select Store</button>
                        </div>
                        <div class="select-store">
                            <span class="fa fa-check-circle normal" (click)="onStoreSelect(store.StoreId)" data-dismiss="modal" *ngIf="currentStore !== store?.StoreId"></span>
                            <span class="fa fa-check-circle success" *ngIf="currentStore === store?.StoreId"></span>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>