.payment-method {
  margin-top: 15px;
  margin-bottom: 15px;
  table {
    width: 100%;
    th {
      background-color: #e2e2e2;
      padding: 10px 15px;
    }
    td {
      padding: 10px 15px;
    }
  }
  .check-icon-payment-container {
    position: relative;
    left: -5px;
    top: -10px;
  }
  table{
    /*border: solid 1px rgba(168, 168, 168, 0.16);*/
    tbody tr {
      border-bottom: solid 1px rgba(168, 168, 168, 0.16);
    }
  } 
}

.check-icon-payment-container .checkout-icon-style {
  font-size: 26px;
  color: #A61455;
  position: absolute;
  top: 8px;
  left: 0px;
}

.payment-method {
  table td {
    .td-para {
      margin-left: 30px;
      vertical-align: middle;
      span.fa {
        font-size: 24px;
      }
      span.fa:hover {
        font-size: 24px;
        color: #A61455;
      }
    }
    vertical-align: text-top;
    input.text-cvv {
      width: 100px;
      padding: 5px;
      margin-top: 10px;
      left: 70px;
      position: relative;
    }
  }
  a.new-payment-mode {
    padding: 10px;
    text-align: center;
    border: dashed 1px #a8a8a8;
    color: #a8a8a8;
    width: 100%;
    display: block;
    text-decoration: none;
    &:hover {
      padding: 10px;
      text-align: center;
      border: dashed 1px #A61455;
      color: #A61455;
      width: 100%;
      display: block;
      text-decoration: none;
    }
  }
}

.payment-option-select {
  a {
    &.pay-opt-1 {
      font-size: 20px;
      color: #A61455;
    }
    color: #222;
    &:hover, &.active {
      color: #A61455;
      text-decoration: none;
    }
  }
  border-bottom: solid 1px #ccc;
  margin-bottom: 25px;
  margin-top: 10px;
  .pay-or-store {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: #222;
    background-color: #ccc;
    padding: 15px;
    position: relative;
    left: 45%;
    top: 7px;
  }
}

