<div class="checkout-section">
  <div class="row">
    <div class="col-md-12">
      <h4>Payment Method</h4>
    </div>
    <div class="col-md-12">
      <div class="payment-method">
        <table>
          <thead>
            <th>Your Saved Card</th>
            <th>Name On Card</th>
            <th style="border-left: solid 2px #fff;">Expires On</th>
          </thead>
          <tbody>
            <tr *ngFor="let paymentProfile of paymentProfiles; index as i" (click)="selectedCard=i">
              <td>
                <div class="check-icon-payment-container">
                  <span [ngClass]="{'fa fa-check-circle checkout-icon-style':selectedCard===i}"></span>
                </div>
                <div class="td-para"> <span class="fa fa-cc-{{paymentProfile.payment.creditCard.cardType | lowercase }}"></span> {{paymentProfile?.payment?.creditCard?.cardNumber}}
                  <form *ngIf="selectedCard===i"><input type="text" name="cvv" class="text-cvv form-control" placeholder="Enter CVV"></form>
                </div>
              </td>
              <td></td>
              <td>{{paymentProfile?.payment?.creditCard?.expirationDate}}</td>
            </tr>            
          </tbody>
        </table>
        <br>
        <div class="col-md-12">
            <div class="row">
              <a href="" class="new-payment-mode">Add New Payment Mothod</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <br>
      <h5>Special Instructions</h5>
      <form class="form-group">
        <textarea rows="3" class="form-control"></textarea>
      </form>
    </div>
  </div>
</div>