<div class="checkout-section">
  <div class="row">
    <div class="col-md-12">
      <h4>Payment Method</h4>
    </div>
    <div class="col-md-12">
      <div class="payment-method">
        <div class="row">
          <div class="payment-option-select">
            <div class="col-md-6">
              <a href="" class="pay-opt-1"><span class="fa fa-check-circle"></span> <span class="icon icon-ok-circled"></span></a>
            </div>
            <div class="col-md-6">
              <a href="">
                <h5 class="text-right">Pay at Store</h5>
              </a>
            </div>
            <span class="pay-or-store">OR</span>
          </div>
        </div>
        <table>
          <thead>
            <th>Your Saved Card</th>
            <th>Name On Card</th>
            <th style="border-left: solid 2px #fff;">Expires On</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="check-icon-payment-container">
                  <span class="icon icon-ok-circled checkout-icon-style"></span>
                </div>
                <div class="td-para"> <span class="icon icon-cc-visa"></span> XXXX XXXX XXXX 2379
                  <form><input type="text" name="cvv" class="text-cvv form-control" placeholder="Enter CVV"></form>
                </div>
              </td>
              <td>John Smith</td>
              <td>06/2025</td>
            </tr>
            <tr>
              <td>
                <div class="check-icon-payment-container">

                </div>
                <div class="td-para"> <span class="icon icon-cc-visa"></span> XXXX XXXX XXXX 2379
                </div>
              </td>
              <td>John Smith</td>
              <td>06/2025</td>
            </tr>
            <tr>
              <td colspan="3"><a href="" class="new-payment-mode">Add New Payment Mothod</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12">
      <h5>Special Instructions</h5>
      <form class="form-group">
        <textarea rows="3" class="form-control"></textarea>
      </form>
    </div>
  </div>
</div>