<style>
  @media only screen and (max-width: 800px) {
  
  table.res_table td:nth-of-type(1):before { content: "Product Details"; }
  table.res_table td:nth-of-type(2):before { content: "Product Price"; }
  table.res_table td:nth-of-type(3):before { content: "Quantity"; }
  table.res_table td:nth-of-type(4):before { content: "Total Price"; }
  
  }     
      </style>

<div class="container">
  <div class="row">
    <div class="Search_div col-md-12 col-sm-12 col-lg-12 col-xs-12">
      <input type="text" placeholder="Cart">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Home</a></li>
        <li class="breadcrumb-item active"><a>Cart</a></li>
      </ol>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <div id="no-more-tables" class="col-md-12 col-sm-12 col-lg-12 col-xs-12 slideInUP wow delay-05s  animated">
        <table class="table table-bordered res_table">
          <thead>
            <tr>
              <th>Product Details</th>
              <th>Product Price</th>
              <th>Quantity</th>
              <th>Total Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cartItem of cartDetails?.ListCartItem">
              <td>
                <div class="img_div">
                  <img class="second_img" src='{{cartItem?.ProductImage}}' />
                </div>
                <div class="Product_name">
                  <h5>{{cartItem?.ProductName}}</h5>

                  <span class="font_size">{{cartItem?.UnitSize}}</span>
                </div>

              </td>
              <td>
                <div>
                  <h5 class="Product_price">{{cartItem?.PriceDisplay}}</h5>
                  <div>
                    <h6 class="you_save">{{cartItem?.ItemTotalSavingDisplay}}</h6>
                  </div>
                </div>

              </td>
              <td>
                <div class="margin_top">
                  <button class="dec_circle">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                  </button>
                  <span class="value">{{cartItem?.Quantity}}</span>
                  <button class="dec_circle">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>

              </td>
              <td>
                <div>
                  <span class="total_price">{{cartItem?.FinalItemTotalDisplay}} </span>
                  <button class="bg_black">
                    <img src="assets/Images/cancel.png">
                  </button>
                </div>
              </td>

            </tr>
          </tbody>

        </table>

        <div class="btn_right">
          <button class="btn btn-default">Pickup</button>
          <button class="btn btn-default" (click)="onDelivery()">Delivery</button>

        </div>

      </div>
    </div>
  </div>

</section>