<style>
  @media only screen and (max-width: 800px) {
  
  table.res_table td:nth-of-type(1):before { content: "Product Details"; }
  table.res_table td:nth-of-type(2):before { content: "Product Price"; }
  table.res_table td:nth-of-type(3):before { content: "Quantity"; }
  table.res_table td:nth-of-type(4):before { content: "Total Price"; }
  
  }     
      </style>

<div class="container">
  <div class="row">
    <div class="Search_div col-md-12 col-sm-12 col-lg-12 col-xs-12">
      <input type="text" placeholder="Cart">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Home</a></li>
        <li class="breadcrumb-item active"><a>Cart</a></li>
      </ol>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <div id="no-more-tables" class="col-md-12 col-sm-12 col-lg-12 col-xs-12 slideInUP wow delay-05s  animated">
        <table class="table table-bordered res_table">
          <thead>
            <tr>
              <th width="40%">Product Details</th>
              <th width="25%">Product Price</th>
              <th width="20%">Quantity</th>
              <th width="14%">Total Price</th>
            </tr>
          </thead>
        </table>
        <table class="box-tile" *ngFor="let cartItem of cartDetails?.ListCartItem">
          <tbody class="bg-transparent">
            <tr>
              <td width="40%" style="padding-left: 15px; padding-top: 15px;">
                <div class="img_div">
                  <img class="second_img" src='{{cartItem?.ProductImage}}' />
                </div>
                <div class="Product_name text-left">
                  <h5 class="text-left">{{cartItem?.ProductName}}</h5>

                  <span class="font_size">{{cartItem?.UnitSize}}</span>
                </div>

              </td>
              <td width="25%">
                <div>
                  <h5 class="Product_price text-left">{{cartItem?.PriceDisplay}}</h5>
                  <div>
                    <h6 class="you_save text-left">{{cartItem?.ItemTotalSavingDisplay}}</h6>
                  </div>
                </div>

              </td>
              <td width="20%">
                <div class="margin_top">
                  <select class="select-quant" [(ngModel)]="cartItem.QuantityOrdered" (change)="onQtyChange(cartItem)">
                      <option>Please select</option>
                      <option *ngFor="let qty of quantity">{{qty}}</option>                    
                  </select>
                  <!-- <button class="dec_circle">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                  </button>
                  <span class="value">{{cartItem?.Quantity}}</span>
                  <button class="dec_circle">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button> -->
                </div>

              </td>
              <td width="15%">
                <div>
                  <span class="total_price">{{cartItem?.FinalItemTotalDisplay}} </span>
                  <button class="bg_black" (click)="removeFromCart(cartItem)">
                    <img src="assets/Images/cancel.png">
                  </button>
                </div>
              </td>
            </tr>
          </tbody>

        </table>

        <div class="btn_right buttons-container">
          <button class="btn btn-default" (click)="onPickup()">Pickup</button>
          <button class="btn btn-default" (click)="onDelivery()">Delivery</button>

        </div>
           <button id="openCartReviewModal" #openCartReviewModal [hidden]="true" data-toggle="modal" data-target="#gridSystemModal">Review Cart</button>
           <app-cart-review [cartItems]="reviewItems"></app-cart-review>
      </div>
    </div>
  </div>
</section>