<div class="container">
    <div class="row">
        <div class="Search_div col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <input type="text" placeholder="Product">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><a href="#">Search Categories</a></li>
                <li class="breadcrumb-item active"><a href="#">Product Details</a></li>
            </ol>
        </div>
    </div>
</div>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                <div class="product_img">
                    <img class="second_img img-responsive" src="{{productDetails?.Product?.ProductImg}}" />
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                <div class="product_content">
                    <h3>{{productDetails?.Product?.ProductName}}</h3>
                    <div>
                        <ul>
                            <li>
                                <a> {{productDetails?.Country}}
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a> {{productDetails?.Region}}
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="customers_review">
                        <span>{{productDetails?.Product?.OfferPriceDisplay}}</span>
                        <ul class="float_right">
                            <li>
                                <app-rating [rate]='0' [edit]='true' (rated)="onRated($event)"></app-rating>
                                <small class="review-caption">({{productDetails?.ReviewTotalCount}}
                                Customer reviews)</small>
                            </li>

                        </ul>
                    </div>
                    <div class="padding_bottom">
                        <span class="size_bottle">{{productDetails?.Product?.Size}}</span>
                        <span class="float_right">SKU: {{productDetails?.Product?.SKU}} | UPC: {{productDetails?.Product?.UPC}}</span>
                    </div>
                    <p class="font_size">
                        {{productDetails?.ProductDescription}}
                    </p>
                </div>
                <!-- <h4 class="size1">Size</h4>  -->
                <div class="row">
                    <div class="size">

                        <div class="margin_top col-md-6 col-sm-6 col-lg-6 col-xs-6">
                            <div class="row">
                                <div class="col-md-12"><label class="sizelabel">Qty</label></div>
                                <div class="col-md-12">
                                    <div class="select-bg">
                                        <select class="selectsize">
                                            <option disabled>Please select</option>
                                            <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10] ">{{i}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- <button  class="dec_circle">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                            <span class="value">5</span>
                            <button  class="dec_circle">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button> -->
                        </div>
                    </div>
                </div>

                <button class="btn btn-default addtocart">Add to Cart</button>

            </div>

        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">

            <ng-container>
                <div class="related_product">

                    <div class="Searchrelated_div col-md-10 col-sm-10 col-lg-10 col-xs-12">
                        <!-- <input type="text" placeholder="Related Product"> -->
                        <h4>Related Product</h4>
                    </div>

                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                        <h4 class="view_more"><span> View More
                                <span class="arrow_right">
                                    <img src="../../../../assets/Images/viewmore.png">
                                </span>
                            </span>
                        </h4>
                    </div>
                </div>
            </ng-container>
            <div class="Main_bottlesection">


                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item_img">
                    <div class="img_div">



                        <div class="margin_bottom">
                            <!-- <img class="firimg" (click)="favoriteadd(product.PID)" src="assets/Images/assets/favorites.png" /> -->
                            <ng-container>
                                <img class="firimg" src="../../../../assets/Images/favorites.png" />
                            </ng-container>

                            <img class="second_img" src='../../../../assets/Images/bottele.jpg' />
                            <!-- <img class="third_img" (click)="addtocart(product.PID)" src="assets/Images/assets/add-cart.png" /> -->

                            <ng-container>
                                <img class="third_img" src="../../../../assets/Images/add-cart.png" />
                            </ng-container>


                        </div>
                        <div class="second_content">
                            <div class="">

                                <ng-container>
                                    <h5>
                                        <p class="strike_text">$11.23</p>
                                        <p class="price">$9.99</p>
                                    </h5>
                                </ng-container>
                                <h5>Liqour-rooftop</h5>
                                <!-- <p> {{product.Size}}</p> -->
                                <p class="rating_star">
                                    <app-rating [rate]='productDetails?.Product?.Rating'></app-rating>
                                    <!-- [ngClass]="{'checked':star+0.5 <= product.Rating, 'fa-star-half-o':star+0.5 == product.Rating}"-->
                                    <span class="first">4 reviews</span>
                                    <span class="reviews"> </span>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="total_border write-review">
            <h4 class="review_title">Reviews</h4>
            <p *ngIf="userReviews?.length === 0">There are no customer reviews yet.</p>
            <br>
            <div>
                <app-product-review [review]="review" *ngFor="let review of userReviews"></app-product-review>
            </div>
            <div>
                <app-product-add-review [productId]="productDetails?.Product?.PID" (addReview)="onAddReview()"></app-product-add-review>
            </div>            
        </div>
    </div>
</section>