<div class="container">
    <div class="row">
        <div class="Search_div col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <h4>Product</h4><!-- <input type="text" placeholder="Product"> -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item active"><a href="#">Product Details</a></li>
            </ol>
        </div>
    </div>
</div>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                <div class="product_img">
                    <div class="favorite-container">
                        <div class="favorite-selection" *ngIf="productDetails">
                            <img class="firimg img-responsive" (click)="favoriteProductUpdate(true)" src="assets/Images/favorites.png"
                                *ngIf="productDetails?.Product?.IsFavorite===false; else favActive" />
                            <ng-template #favActive>
                                <img class="firimg img-responsive" (click)="favoriteProductUpdate(false)" src="assets/Images/favorites-active.png">
                            </ng-template>
                        </div>
                    </div>
                    <img class="second_img img-responsive" src="{{productDetails?.Product?.ProductImg}}" />
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                <div class="product_content">
                    <h3>{{productDetails?.Product?.ProductName}}</h3>
                    <div>
                        <ul>
                            <li *ngIf="productDetails?.Category">
                                <a> {{productDetails?.Category}}
                                </a>
                            </li>
                            <li *ngIf="productDetails?.Type">
                                <a>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    {{productDetails?.Type}}
                                </a>
                            </li>
                            <li *ngIf="productDetails?.Varietal">
                                <a>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    {{productDetails?.Varietal}}
                                </a>
                            </li>
                            <li *ngIf="productDetails?.Region">
                                <a>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    {{productDetails?.Region}}
                                </a>
                            </li>
                            <li *ngIf="productDetails?.Country">
                                <a>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    {{productDetails?.Country}}
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="customers_review">
                        <span>{{productDetails?.Product?.OfferPriceDisplay}}</span>
                        <ul class="float_right">
                            <li>
                                <app-rating [rate]='rating'></app-rating>
                                <small class="review-caption">({{productDetails?.ReviewTotalCount}}
                                    Customer reviews)</small>
                            </li>

                        </ul>
                    </div>
                    <div class="padding_bottom">
                        <span class="size_bottle">{{productDetails?.Product?.Size}}</span>
                        <span class="float_right">SKU: {{productDetails?.Product?.SKU}} | UPC:
                            {{productDetails?.Product?.UPC}}</span>
                    </div>
                    <p class="font_size">
                        {{productDetails?.ProductDescription}}
                    </p>
                </div>
                <!-- <h4 class="size1">Size</h4>  -->
                <div class="row">
                    <div class="size">

                        <div class="margin_top col-md-8 col-sm-8 col-lg-8 col-xs-8">
                            <div class="row">
                                <div class="col-md-12"><label class="sizelabel">Qty</label></div>
                                <div class="col-md-4">
                                    <div class="select-bg">
                                        <select class="selectsize form-control" [(ngModel)]="qty">
                                                <option *ngFor="let qty of quantity">{{qty}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <button class="btn btn-default addtocart" (click)="addToCart()">Add to Cart</button>
                                </div>
                            </div>
                            <!-- <button  class="dec_circle">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                            <span class="value">5</span>
                            <button  class="dec_circle">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button> -->
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>
</section>

<section *ngIf="productsList">
    <div class="container">
        <div class="row">

            <ng-container>
                <div class="related_product">

                    <div class="Searchrelated_div col-md-10 col-sm-10 col-lg-10 col-xs-12 no-b-border">
                        <!-- <input type="text" placeholder="Related Product"> -->
                        <h4>Related Products</h4>
                    </div>

                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                        <a class="view_more" (click)="getProductList()">
                            <span>View More</span>
                        </a>
                    </div>
                </div>
            </ng-container>
            <div class="Main_bottlesection">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" *ngFor="let product of productsList | slice:0:4">
                    <app-product [item]="product"></app-product>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="total_border write-review">
            <h4 class="review_title">Reviews</h4>
            <p *ngIf="userReviews?.length === 0 && productDetails?.UserReview?.UserId === 0" class="no-reviews">There
                are no customer reviews yet.</p>

            <div>
                <app-product-review [review]="review" (edit)="onEdit($event)" *ngFor="let review of userReviews"></app-product-review>
            </div>
            <div *ngIf="productDetails?.UserReview?.UserId === 0 && !reviewAdded">
                <app-product-add-review [productId]="productDetails?.Product?.PID" (addReview)="onAddReview()"></app-product-add-review>
            </div>
            <div *ngIf="productDetails?.UserReview?.UserId !== 0 && isEdit">
                <app-product-edit-review [productId]="productDetails?.Product?.PID" [edit]="isEdit" [review]="review" (updateReview)="onUpdateReview()"></app-product-edit-review>
            </div>
        </div>
    </div>
</section>