<section class="m_bottom">
    <div class="container">

        <div class="Searchrelated_div col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <!-- <input type="text" placeholder="My Account"> --><h4>My Account</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item active">
                    <a>Account</a>
                </li>
            </ol>
        </div>

<!-- My Account Left Menu Start -->

        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel bottle-panel-container">
                      <div class="left-panel-section">
                        <h4 class="left-panel-title">
                          <a routerLink="./myorders">
                            <span class="fa fa-file-text bottles-brand myac-icon"></span> My Orders <span class="fa fa-chevron-right pull-right"></span>
                          </a>
                        </h4>
                      </div>
                    </div>
                    <div class="panel bottle-panel-container">
                      <div class="left-panel-section" role="tab" id="myAccountHeading">
                        <h4 class="panel-title left-panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#myAccount" aria-expanded="false" aria-controls="myAccount">
                            <span class="fa fa-user bottles-brand myac-icon"></span> My Account <span class="fa fa-chevron-down pull-right"></span>
                            <span *ngIf="false" class="fa fa-chevron-up pull-right"></span>
                          </a>
                        </h4>
                      </div>
                      <ul id="myAccount" class="panel-collapse collapse left-panel-body" role="tabpanel" aria-labelledby="myAccountHeading">
                          <li (click)="onOptionSelected('profile')"><a routerLink="./profile" [ngClass]="{'active': selectedOption === 'profile'}">Profile Information</a></li>
                          <li (click)="onOptionSelected('address')"><a routerLink="./manage-addresses" [ngClass]="{'active': selectedOption === 'address'}">Manage Addresses</a></li>
                          <li (click)="onOptionSelected('payment')"><a routerLink="./payment-methods" [ngClass]="{'active': selectedOption === 'payment'}">Payment Methods</a></li>
                      </ul>
                    </div>
                    <div class="panel bottle-panel-container">
                      <div class="left-panel-section">
                        <h4 class="left-panel-title">
                          <a routerLink="./favorites">
                            <span class="fa fa-star bottles-brand myac-icon"></span> Favorites  <span class="fa fa-chevron-right pull-right"></span>
                          </a>
                        </h4>
                      </div>
                    </div>
                    <div class="bottle-panel-container">
                        <div class="left-panel-section">
                            <h4 class="left-panel-title">
                                <a href="#" class="bottles-brand"><span class="fa fa-sign-out myac-icon"></span> Logout</a>
                            </h4>
                        </div>
                    </div>
                  </div>
        </div>
<!-- My Account Left Menu End -->

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <router-outlet></router-outlet>
        </div>

    

    </div>

</section>



