.nav-block {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

nav.lu-menu {
      border: solid #d7d7d7;
      border-width: 0px 0;
      background-color: transparent !important;
      border-radius: 0;
    }