<div class="container about-us">
  <div class="Searchrelated_div col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <h4>About Us</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>Home</a></li>
      <li class="breadcrumb-item active"><a>About Us</a></li>
    </ol>
  </div>
  <div class="col-md-12 col-xs-12">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <img src="../assets/Images/outside-lukas-liquor-superstore.jpg" class="img-responsive">
        <br>
        <img src="../assets/Images/we-id.jpg" class="img-responsive">
      </div>
      <div class="col-md-9 col-xs-12">
        <h4>Thank you for supporting our family-owned, Colorado business!</h4>
        <p>
          Run by a father daughter team, Lukas Liquor Superstore is the largest liquor and wine store in Lone Tree.
          We've been in business since 1997 and we remain committed to our founding principles: honesty, fair prices
          and exceptional customer service.</p>

        <p>Our long term relationships with local and world renowned distilleries, vineyards and breweries, allow us
          first pick of special and unique products at exclusive discounts. We happily pass these savings onto our
          customers. It's a win for everyone.</p>

        <p>Stop in today. We look forward to sharing our exciting range of wine, spirits and beer with you.</p>
        <br>
        <h5>Charity & Community</h5>
        <p>We are actively engaged members of the community where we live and work, and proudly support many local
          charities and non-profit organizations, including:</p>

        <p><span class="fa fa-angle-right"></span> Children's Hospital</p>
        <p><span class="fa fa-angle-right"></span> Craig Hospital</p>
        <p><span class="fa fa-angle-right"></span> Inner City Health Center</p>
        <p><span class="fa fa-angle-right"></span> Jessie's Heart Foundation</p>
        <p><span class="fa fa-angle-right"></span> Men For The Cure</p>
        <p><span class="fa fa-angle-right"></span> Scleroderma Foundation</p>
        <p><span class="fa fa-angle-right"></span> Spina Bifida Association</p>
        <p><span class="fa fa-angle-right"></span> The Leukemia & Lymphoma Society</p>
        <br><br>
      </div>
    </div>
  </div>
</div>